<section class="products-card" *ngIf="products.length > 0">
  <div class="products-card__body">
    <div *ngFor="let product of products" class="card">
      <img
        [src]="product.image"
        class="card__image"
        alt="Imagen del producto"
      />

      <div class="card__info">
        <h3>{{ product.name }}</h3>

        <div>
          <h4 class="price-card--discount">
            {{ product.discount | currency: "USD" }}
          </h4>
          <h4 class="price-card--normal">
            {{ product.price | currency: "USD" }}
          </h4>
        </div>

        <div class="counter">
          <span
            class="counter__icon"
            (click)="updateValueCounter(product.name, 'remove')"
            >-</span
          >

          <span class="counter__value">
            {{ product.quantity }}
          </span>

          <span
            class="counter__icon"
            (click)="updateValueCounter(product.name, 'add')"
            >+</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="products-card__footer">
    <div class="row">
      <h4>Shipping</h4>

      <span>{{ shipping | currency: "USD":"symbol-narrow":".0-2" }}</span>
    </div>
    <div class="row">
      <h4>Total</h4>

      <span>{{ totalPrice | currency: "USD":"symbol-narrow":".0-2" }}</span>
    </div>
  </div>
</section>
